1- Tengo los archivos vendor, pero sólo necesito los aos, para los otros tengo cdn


**/.DS_Store

/////compilar///////
para compilar 1 vez css:
sass assets/scss/main.scss assets/css/styles.css --style=compressed

para compilar automático todo el tiempo que este abierta la terminal:
sass --watch assets/scss:assets/css



<!-- WhatsApp Flotante -->
<a href="https://wa.me/56993964462/?text=Me%20gustaría%20pedir%20una%20hora..."  aria-label="WhatsApp" class="whatsapp-float" target="_blank" rel="noopener noreferrer" aria-label="Chat on WhatsApp">
    <img src="assets/img/whatsapp-svgrepo-com.svg" alt="WhatsApp" width="50" height="50">
</a>
<!-- fin WhatsApp Flotante -->