**/.DS_Store


<!-- WhatsApp Flotante -->
<a href="https://wa.me/56993964462/?text=Me%20gustaría%20pedir%20una%20hora..."  aria-label="WhatsApp" class="whatsapp-float" target="_blank" rel="noopener noreferrer" aria-label="Chat on WhatsApp">
    <img src="assets/img/whatsapp-svgrepo-com.svg" alt="WhatsApp" width="50" height="50">
</a>
<!-- fin WhatsApp Flotante -->