@use "base";

.btn-clinica-alemana {
    background-color: transparent;
    color: base.$color-acento;
    border: 2px solid base.$color-acento;
    font-weight: 500;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;

    &:hover {
        background-color: #e0f4f3;
        color: base.$color-acento-hover;
        border-color: base.$color-acento-hover;
    }

    &:focus {
        outline: 2px solid base.$color-acento-hover;
        outline-offset: 2px;
    }
}

.btn-medsalud {
    background-color: base.$color-acento;
    color: white;
    border: none;
    font-weight: 500;
    border-radius: 8px;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: base.$color-acento-hover;
    }

    &:focus {
        outline: 2px solid base.$color-acento-hover;
        outline-offset: 2px;
    }
}
