// @use "base";

// .nombre {
//     font-family: base.$font-reklame;
//     font-size: 50px;
//     font-weight: bold;
//     color: base.$color-texto;
// }

// h3 {
//     font-family: 'Work Sans', sans-serif;
//     letter-spacing: 0.15rem;
//     font-size: 20px;
//     color: base.$color-texto;
// }

// h2, h4, h5 {
//     font-family: base.$font-futura;
//     font-size: 15px;
//     letter-spacing: 0.05em;
//     color: #8B0000;
// }
