// @media (max-width: 768px) {
//   .nombre {
//         font-size: 30px;
//     }

//     h3, h4, h5 {
//         font-size: 14px;
//     }

//     .btn-clinica-alemana,
//     .btn-medsalud {
//         font-size: 14px;
//         padding: 10px;
//     }
// }
