// 🎨 Colores
$color-texto: #524e4e;
$color-acento: #009A90;
$color-acento-hover: #007f79;
$color-rojo-titulo: #8B0000;
$color-fondo-claro: #f0f0f0;
$color-fondo-suave: #ffdcd8;

// 🅰️ Tipografías
$font-base: 'Work Sans', sans-serif;
$font-futura: 'Futura', $font-base;
$font-script: 'reklamescriptw00-medium', cursive, 'Comic Sans MS';

// 📏 Espaciado & efectos
$radius-botones: 8px;
$transicion-suave: 0.3s ease-in-out;
