// @use 'base';
// @use 'global';
// @use 'buttons';
// @use 'headers';
// @use 'layout';
// @use 'accessibility';
// @use 'responsive';

@use './variables';
// @import './_variables.scss';

@use './layouts/general';
@use './layouts/header';
@use './layouts/navmenu';
@use './layouts/footer';
@use './layouts/preloader';
@use './layouts/scrolltop';
@use './layouts/aos';
@use './layouts/page-titles';
@use './sections';

// @import './layouts/_general.scss';
// @import './layouts/_header.scss';
// @import './layouts/_navmenu.scss';
// @import './layouts/_footer.scss';
// @import './layouts/_preloader.scss';
// @import './layouts/_scrolltop.scss';
// @import './layouts/_aos.scss';
// @import './layouts/_page-titles.scss';
// @import './_sections.scss';