body {
    background: linear-gradient(180deg, #ffdcd8, #f0f0f0);
    /* background: linear-gradient(45deg, #ffdcd8 25%, transparent 25%, transparent 75%, #ffdcd8 75%, #ffdcd8),
                linear-gradient(45deg, #ffdcd8 25%, transparent 25%, transparent 75%, #ffdcd8 75%, #ffdcd8),
                linear-gradient(to bottom, #f9f1eb, #f9f1eb);
    background-size: 20px 20px, 40px 40px, 100% 20px;
    background-position: 0 0, 20px 20px, 0 0; */
    /* background: linear-gradient(45deg, #f0f0f0 25%, transparent 25%, transparent 75%, #f0f0f0 75%, #f0f0f0),
                linear-gradient(45deg, #f0f0f0 25%, transparent 25%, transparent 75%, #f0f0f0 75%, #f0f0f0);
    background-size: 20px 20px; */
    /* background: radial-gradient(circle, #ffdcd8 20%, #ffdcd8 80%, #ffdcd8); */

}

.nombre {
    font-family: reklamescriptw00-medium, cursive;
    font-size: 50px;
    font-weight: bold;
    color: #524e4e;
}

h3 {
    font-family: worksans-extralight, work sans, sans-serif;
    letter-spacing: 0.15rem;
    font-size: 20px;
    color:#524e4e;
}

h4 {
    font-family: futura-lt-w01-light, sans-serif;
    font-size: 15px;
    letter-spacing: 0.05em;
    color: 8B0000;
}

.link {
    text-decoration: none;
}

@media(max-width: 768px){
    .nombre {
        font-size: 30px;
    }
}